.todo-container {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .todo-title {
    font-size: 24px;
    color:burlywood;
  }
  
  .todo-button {
    background-color:brown;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  

  